.VideoList-container {
  display: flex;
  height: calc(100vh - 250px);
  /* height: 500px; */
  max-width: 20rem;
  min-width: 20rem;
  margin: auto;

  flex-direction: column;
  flex: 1;
	padding-top: 1rem;
	overflow-y: auto;
  background-color: black;
}
::-webkit-scrollbar {
		background: black;
		width: 8px;
}
::-webkit-scrollbar-button {
		display: none;
}
::-webkit-scrollbar-thumb {
		background: #141414;
		border-radius: 4px;
}
  .VideoList-container:hover::-webkit-scrollbar-thumb {
  background: #222222;
} 
  .VideoList-container:active::-webkit-scrollbar-thumb {
  background: #333333;
} 
